# Auto detect text files and perform LF normalization
* text=auto

# The Gradle wrapper scripts must keep their native line endings
gradlew text eol=lf
*.bat text eol=crlf

*.jar binary
*.png binary
*.jpg binary
*.ico binary
*.icns binary
*.mp3 binary
